(
    source: Baked(
        root: [
            "root",
        ],
        bones: [
            (
                path: [
                    "root",
                ],
                local: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                ],
                local: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0, 1.0),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                ],
                local: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.7071081, 0.0, 0.0, -0.70710546),
                    scale: (1.0, 0.99999994, 0.99999994),
                ),
                character: (
                    translation: (0.0, 0.0, 0.0),
                    rotation: (0.7071081, 0.0, 0.0, -0.70710546),
                    scale: (1.0, 0.99999994, 0.99999994),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                ],
                local: (
                    translation: (0.0, 0.26748404, 0.4293817),
                    rotation: (-0.12769094, 0.6954821, 0.12769023, -0.69548184),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.0, 0.42938069, -0.2674856),
                    rotation: (-0.40148988, -0.58206993, 0.40149057, 0.58207035),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_RightLeg01_019",
                ],
                local: (
                    translation: (0.048137777, 0.05154026, 0.06967563),
                    rotation: (0.0, 0.0, 0.96995866, -0.24327008),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.06967569, 0.49268723, -0.2985648),
                    rotation: (0.4669133, -0.53102875, -0.4669135, 0.53102946),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_RightLeg01_019",
                    "b_RightLeg02_020",
                ],
                local: (
                    translation: (0.18944183, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.3680438, 0.92980844),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
                character: (
                    translation: (-0.06967558, 0.30480292, -0.27432236),
                    rotation: (-0.6295817, 0.32191047, 0.62958217, -0.32191107),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_RightLeg01_019",
                    "b_RightLeg02_020",
                    "b_RightFoot01_021",
                ],
                local: (
                    translation: (0.1794281, 0.0, 0.0),
                    rotation: (-0.00015345459, -0.00000000000409222, 0.4579094, 0.88899887),
                    scale: (1.0, 1.0, 0.99999994),
                ),
                character: (
                    translation: (-0.06967561, 0.15934472, -0.3793764),
                    rotation: (0.41224223, -0.5743728, -0.41234115, 0.5745668),
                    scale: (1.0, 0.9999999, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_RightLeg01_019",
                    "b_RightLeg02_020",
                    "b_RightFoot01_021",
                    "b_RightFoot02_022",
                ],
                local: (
                    translation: (0.15779935, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.5472883, 0.8369441),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.06965332, 0.009846166, -0.3288708),
                    rotation: (0.030676212, -0.70633334, -0.030652834, 0.7065498),
                    scale: (0.9999999, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_LeftLeg01_015",
                ],
                local: (
                    translation: (0.048137702, 0.05154018, -0.06968006),
                    rotation: (0.0, -0.00017175225, 0.97001594, -0.24304147),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.06968, 0.4926872, -0.29856488),
                    rotation: (0.46696943, -0.5308187, -0.46710756, 0.5310194),
                    scale: (0.99999994, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_LeftLeg01_015",
                    "b_LeftLeg02_016",
                ],
                local: (
                    translation: (0.18944176, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.36804372, 0.92980844),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.06969593, 0.30479157, -0.27441102),
                    rotation: (-0.62955666, 0.32169452, 0.6297589, -0.32183027),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_LeftLeg01_015",
                    "b_LeftLeg02_016",
                    "b_LeftFoot01_017",
                ],
                local: (
                    translation: (0.17942812, 0.0, 0.0),
                    rotation: (0.00024841062, -0.000000000008187169, 0.4584842, 0.88870263),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
                character: (
                    translation: (0.0696659, 0.15938288, -0.3795336),
                    rotation: (-0.4120768, 0.5746889, 0.4120344, -0.57458955),
                    scale: (0.99999994, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_LeftLeg01_015",
                    "b_LeftLeg02_016",
                    "b_LeftFoot01_017",
                    "b_LeftFoot02_018",
                ],
                local: (
                    translation: (0.15779938, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.5472883, 0.8369441),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.06965338, 0.009925872, -0.3289051),
                    rotation: (-0.030364683, 0.7065073, 0.030383648, -0.70640093),
                    scale: (0.99999994, 0.9999999, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Tail01_012",
                ],
                local: (
                    translation: (0.042603757, 0.15958771, 0.0),
                    rotation: (0.0, 0.0, 0.98189294, 0.18943693),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.00000017154171, 0.52589506, -0.40153146),
                    rotation: (-0.64758736, 0.2839545, 0.64758784, -0.2839551),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Tail01_012",
                    "b_Tail02_013",
                ],
                local: (
                    translation: (0.124119185, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.06961717, 0.99757373),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.00000020597076, 0.43460014, -0.48561954),
                    rotation: (-0.6657843, 0.23818238, 0.6657848, -0.23818292),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Tail01_012",
                    "b_Tail02_013",
                    "b_Tail03_014",
                ],
                local: (
                    translation: (0.24240321, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.053832747, 0.99855),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.0000003066505, 0.28084058, -0.67301565),
                    rotation: (-0.6776409, 0.20199601, 0.67764145, -0.20199652),
                    scale: (0.9999999, 0.9999999, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                ],
                local: (
                    translation: (0.128506, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.5904158, 0.8070992),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.00000001531911, 0.5495058, -0.22183737),
                    rotation: (0.019621108, -0.70683414, -0.019620787, 0.7068348),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                ],
                local: (
                    translation: (0.21655753, -0.0000011825562, 0.0),
                    rotation: (0.0, 0.0, 0.017411953, 0.9998484),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.00000019214525, 0.537491, -0.0056133866),
                    rotation: (0.0073107705, -0.7070687, -0.0073104384, 0.70706934),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_LeftUpperArm_09",
                ],
                local: (
                    translation: (0.18677917, -0.04297344, -0.06967987),
                    rotation: (-0.00049726194, 0.00088219234, 0.7120875, -0.70209),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.06968026, 0.49066487, 0.18023725),
                    rotation: (0.50897276, -0.49184737, -0.5082827, 0.49059325),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_LeftUpperArm_09",
                    "b_LeftForeArm_010",
                ],
                local: (
                    translation: (0.23045124, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0371259, 0.9993106),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.06955809, 0.26035333, 0.17221521),
                    rotation: (-0.4903616, 0.51040435, 0.48971856, -0.5091255),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_LeftUpperArm_09",
                    "b_LeftForeArm_010",
                    "b_LeftHand_011",
                ],
                local: (
                    translation: (0.19350052, -0.0014599037, 0.0),
                    rotation: (0.016517917, 0.014013742, 0.46007562, 0.88761544),
                    scale: (1.0, 1.0, 0.99999994),
                ),
                character: (
                    translation: (0.06943053, 0.066945836, 0.17838836),
                    rotation: (-0.21570042, 0.67960054, 0.18514293, -0.6762681),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_RightUpperArm_06",
                ],
                local: (
                    translation: (0.18677913, -0.042973403, 0.06967575),
                    rotation: (-0.00046732737, 0.0004461485, 0.7121793, -0.70199734),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.06967536, 0.49066484, 0.18023732),
                    rotation: (0.509019, -0.49147263, -0.5083649, 0.4908356),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_RightUpperArm_06",
                    "b_RightForeArm_07",
                ],
                local: (
                    translation: (0.23045126, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.0371259, 0.9993106),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.069666214, 0.26035535, 0.17215535),
                    rotation: (-0.49042174, 0.5100316, 0.48979172, -0.5093707),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_RightUpperArm_06",
                    "b_RightForeArm_07",
                    "b_RightHand_08",
                ],
                local: (
                    translation: (0.19350055, -0.0014598655, 0.0),
                    rotation: (-0.012037407, -0.00782221, 0.46056235, 0.8875113),
                    scale: (0.99999994, 1.0, 1.0),
                ),
                character: (
                    translation: (-0.0696752, 0.06694619, 0.17827822),
                    rotation: (0.19039072, -0.67661715, -0.21007438, 0.67956567),
                    scale: (0.9999999, 0.9999999, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_Neck_04",
                ],
                local: (
                    translation: (0.25649142, 0.0, 0.0),
                    rotation: (0.0, 0.0, 0.30337915, 0.9528699),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.00000043388158, 0.5321877, 0.2508232),
                    rotation: (-0.20754369, -0.6759624, 0.2075442, 0.6759629),
                    scale: (1.0, 1.0, 1.0),
                ),
            ),
            (
                path: [
                    "root",
                    "_rootJoint",
                    "b_Root_00",
                    "b_Hip_01",
                    "b_Spine01_02",
                    "b_Spine02_03",
                    "b_Neck_04",
                    "b_Head_05",
                ],
                local: (
                    translation: (0.1337696, 0.0, 0.0),
                    rotation: (0.0, 0.0, -0.40028542, 0.9163905),
                    scale: (1.0, 1.0, 1.0),
                ),
                character: (
                    translation: (0.0000005009728, 0.6072549, 0.36154458),
                    rotation: (0.080386825, -0.7025223, -0.080386564, 0.70252293),
                    scale: (0.99999994, 0.99999994, 1.0),
                ),
            ),
        ],
    ),
)